<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="fevicon.png" type="image/x-icon">

    <title>User Page</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Land Regitry</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/super-admin">Super-Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">User</a>
                    </li>                  

                </ul>
            </div>

        </div>
    </nav>

    <div class="container bg-dark-cus text-white mt-3">
        
        <h3 class="text-center display-5">User</h3>
        <hr>

        <p class="text-center"><button id="connectMetamask" class="btn btn-info">Connect Metamask</button></p><br>

        <div class="mb-5">
            <h4 class="text-light">New User</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="name-user-new" id="name-user-new" class="form-control" type="text" placeholder="Full Name">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <select name="district-user-new" id="district-user-new" class="form-select">
                        <option selected>Select District</option>
                        <option value="Thane">Thane</option>
                        <option value="Raigad">Raigad</option>
                        <option value="Pune">Pune</option>
                      </select>
                </div>
                <div class="col-12">
                    <label for="dochash-user-new" class="form-label">Aadhaar PDF file SHA256 Hash</label>
                    <textarea name="dochash-user-new" class="form-control" id="dochash-user-new" rows="2"></textarea>
                </div>
    
                <div class="text-center">
                    <button id="submit-user-new" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <h4 class="text-light">New Land</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="sno-land-new" id="sno-land-new" class="form-control" type="text" placeholder="Servey Number">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <select name="district-land-new" id="district-land-new" class="form-select">
                        <option selected>Select District</option>
                        <option value="Thane">Thane</option>
                        <option value="Raigad">Raigad</option>
                        <option value="Pune">Pune</option>
                      </select>
                </div>

                <div class="col-12">
                    <label for="location-land-new" class="form-label">Location</label>
                    <textarea name="location-land-new" class="form-control" id="location-land-new" rows="3"></textarea>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <input name="area-land-new" id="area-land-new" class="form-control" type="number" min="0" max="999999999" step="0.0001" placeholder="Area(m^2)">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <input name="epoch-land-new" id="epoch-land-new" class="form-control" type="number" min="0" max="2147485547" step="1" placeholder="Purchase Epoch">
                </div>
    
                <div class="text-center">
                    <button id="submit-land-new" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <h4 class="text-light">Set Land Availability Status</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="sno-land-avail" id="sno-land-avail" class="form-control" type="text" placeholder="Servey Number">
                </div>

                <div class="col-auto">
                    <button id="submit-land-avail-avail" class="submit-btn-land-avail btn btn-primary"> &nbsp;&nbsp; Available &nbsp;&nbsp; </button>
                    <button id="submit-land-avail-notavail" class="submit-btn-land-avail btn btn-danger">Not Available</button>
                </div>
                
            </div>
        </div>

        <div class="mb-5">
            <h4 class="text-light">Request to Buy Land</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="sno-land-buy" id="sno-land-buy" class="form-control" type="text" placeholder="Servey Number">
                </div>

                <div class="col-lg-6 col-sm-6">
                    <input name="price-land-buy" id="price-land-buy" class="form-control" type="number" min="1" max="99999999999" step="1" placeholder="Proposed Price">
                </div>

                <div class="text-center">
                    <button id="submit-land-buy" class="btn btn-primary">Submit</button>
                </div>
                
            </div>
        </div>

        <div class="mb-5">
            <h4 class="text-light">Approve Sell of Land</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="sno-land-appsell" id="sno-land-appsell" class="form-control" type="text" placeholder="Servey Number">
                </div>

                <div class="col-auto">
                    <button id="submit-land-appsell" class="btn btn-primary">Submit</button>
                </div>
                
            </div>
        </div>

        <div class="mb-5">
            <h4 class="text-light">Confirm Sell of Land</h4>
            <div class="row gy-3 my-2">
                <div class="col-lg-6 col-sm-6">
                    <input name="sno-land-consell" id="sno-land-consell" class="form-control" type="text" placeholder="Servey Number">
                </div>

                <div class="col-auto">
                    <button id="submit-land-consell" class="btn btn-primary">Submit</button>
                </div>
                
            </div>
        </div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/3.0.0-rc.5/web3.min.js" integrity="sha512-jRzb6jM5wynT5UHyMW2+SD+yLsYPEU5uftImpzOcVTdu1J7VsynVmiuFTsitsoL5PJVQi+OtWbrpWq/I+kkF4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="js/index.js"></script>
</body>
</html>